.autocomplete-dropdown-container div{
  padding:5px;
  color:#555;
}
.autocomplete-dropdown-container{
  border: 1px solid #eee;
  margin-bottom: 10px;
}
.submit-button{
  left: 200px;
  position: relative;
}
.submit{
  width:100%;
  flex-direction: row;
  display: flex;
}
.submit-clock{
  width:400px;
  padding: 10px;
  font-size: 20px;
  color: gray;
}
.submit-clock-description{
  padding-left:8px;
  padding-top:1px;
  font-size: 14px;
  color: #5f7ff9;
}
.card-content-clock{
  width:100%;
  align-self: center;
  padding:10%;
}
.card-city-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-display-time {
  padding:10px 28% 0 28%;
  font-size: 20px;
}
.toolbar{
  padding-bottom: 20px;
}
.filter{
  padding-left:10px;
}
.main{
  width:100%;
  padding-left:10%;
  padding-right:10%;
}
.display{
  display: block;
}
.none{
  display: none;
}
.error{
  color:red;
}
.user-toolbar{
  padding-left:20%;
}
.submit-create-users{
  width:100%;
  flex-direction: row-reverse;
  display: flex;
}

